* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1D262D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper{
    margin-top: 75px;
    margin-bottom: 35px;
    border-bottom: 2px solid #fff;
}

.wrapper__container{
    display: flex;
}

.aside{
    width: 30%;
    
}

.main{
    width: 70%;
    margin-left: 50px;
}

.title{
    margin-bottom: 30px;
    font-size: 26px;
}

.header__title{
    font-size: 34px;
    line-height: 1.7;
}

.sub-title{
    font-size: 20px;
}

.menu__icon{
    display: none;
}

.header__menu {
    display: flex;
    height: 70px;
    align-items: center;
}

.header__main {
    margin-top: 75px;
    display: flex;
}

.header__img{
    width: 250px;
    height: 250px;
    margin-right: 200px;
}

.header__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__list{
    display: flex;
    font-size: 18px;
}

.menu__link{
    color: #fff;
    position: relative;
}

.menu__link:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #fff; 
	content: "";
	transition: width 0.3s ease-out; 
}

.menu__link:hover:after,
.menu__link:focus:after {
	width: 100%; 
}

.menu__item:not(:last-child){
    margin-right: 50px;
}

.about{
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.skills{
    border-bottom: 2px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.skills__items{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.skills__item{
    position: relative;
}

.skills__item:not(:last-child){
    margin-bottom: 30px;
}

.contacts{
    margin-bottom: 30px;
}

.contacts__item{
    font-size: 18px;
}

.contacts__item:not(:last-child){
    margin-bottom: 15px;
}

.courses{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.courses__item:not(:last-child){
    margin-bottom: 10px;
}

.cod{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.language{
    margin-bottom: 30px;
}

.language__item{
    margin-bottom: 15px;
}



.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__img{
    width: 100px;
    height: 100px;
}


